# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Virtual Environments
# =====================
.venv/
venv/
env/
ENV/

# =====================
# Pytest / Coverage
# =====================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
